body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7c1010;
}

code {
  font-family: "Josefin Sans", sans-serif !important;
}

/*Home*/
.home {
  font-family: "Josefin Sans", sans-serif !important;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: space-between;
}

.home .logo {
  margin-top: auto;
  margin-bottom: auto;
}

.home .logo img {
  width: 330px;
}

.botoes-home {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

.botoes-home button {
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
}

.botoes-home button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}
/*Final home*/

/*Login*/
.login {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px auto auto auto;
}

.login .titulo h4 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif !important;
}

.inputs-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  justify-content: space-between;
}

.inputs-login input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  box-shadow: none;
  border: 2px solid #ffdf02;
  padding-left: 10px;
  font-size: 15px;
}

.inputs-login label {
  padding-bottom: 10px;
  color: #ffffff;
}

.inputs-login .input {
  display: flex;
  flex-direction: column;
}

.botao-login button {
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botao-login button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.login .titulo {
}
