body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7c1010;
}

/*Carousel*/
.react-multi-carousel-list .react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgb(124, 16, 16);
  min-width: 40px;
  min-height: 40px;
  opacity: 1;
  cursor: pointer;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: 0;
}
/*Final Carousel*/

/*Home*/
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: space-evenly;
}

.home .logo {
  margin-top: 60px;
}

.home .logo img {
  width: 330px;
}

.frase-home {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
}

.frase-home h6 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  font-weight: lighter;
}
/*Final Home*/

/*Home2*/
.home2 {
  font-family: "Comfortaa", cursive;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: space-evenly;
}

.home2 .logo {
  margin: 100px 0;
}

.home2 .logo img {
  width: 330px;
}

.botoes-home2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

.botoes-home2 a {
  text-decoration: none;
}

.botoes-home2 button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
}

.botoes-home2 button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}
/*Final Home2*/

/*Login*/
.login {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px auto auto auto;
}

.login .titulo h4 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.inputs-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  justify-content: space-between;
}

.inputs-login input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  box-shadow: none;
  border: 2px solid #ffdf02;
  padding-left: 10px;
  font-size: 15px;
}

.inputs-login label {
  padding-bottom: 10px;
  color: #ffffff;
}

.inputs-login .input {
  display: flex;
  flex-direction: column;
}

.botao-login button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botao-login button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}
/*Final Login*/
