body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7c1010;
}

/*Carousel*/
.react-multi-carousel-list .react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgb(124, 16, 16);
  min-width: 40px;
  min-height: 40px;
  opacity: 1;
  cursor: pointer;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: 0;
}
/*Final Carousel*/

/*Home*/
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: space-evenly;
}

.home .logo {
  margin-top: 60px;
}

.home .logo img {
  width: 330px;
}

.frase-home {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
}

.frase-home h6 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  font-weight: lighter;
}
/*Final Home*/

/*Home2*/
.home2 {
  font-family: "Comfortaa", cursive;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: space-evenly;
}

.home2 .logo {
  margin: 100px 0;
}

.home2 .logo img {
  width: 330px;
}

.botoes-home2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

.botoes-home2 a {
  text-decoration: none;
}

.botoes-home2 button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
}

.botoes-home2 button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}
/*Final Home2*/

/*Login*/
.login {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px auto auto auto;
}

.login .titulo h4 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.inputs-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  justify-content: space-between;
}

.inputs-login input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  box-shadow: none;
  border: 2px solid #ffdf02;
  padding-left: 10px;
  font-size: 15px;
}

.inputs-login label {
  font-family: "Comfortaa", cursive;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
}

.inputs-login .input {
  display: flex;
  flex-direction: column;
}

.botao-login {
  margin-top: 40px;
}

.botao-login button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botao-login button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.botao-voltar-login {
  margin-top: 15px;
}

.botao-voltar-login button {
  font-family: "Comfortaa", cursive;
  border: none;
  text-transform: none !important;
  color: #ffffff;
}

.botao-voltar-login a {
  text-decoration: none;
}

/*Final Login*/

/*Cadastro*/
.cadastro {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto auto auto;
}

.cadastro .titulo h4 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.input img {
  width: 32px;
  margin-top: -40px;
  margin-left: 270px;
}

.inputs-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  justify-content: space-between;
}

.inputs-cadastro input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  box-shadow: none;
  border: 2px solid #ffdf02;
  padding-left: 10px;
  font-size: 15px;
}

.inputs-cadastro .labelConfirmarSenha {
  padding-top: 20px;
}

.inputs-cadastro label {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.inputs-cadastro .input {
  display: flex;
  flex-direction: column;
}

.botao-cadastro {
  position: absolute;
  bottom: 60px;
}

.MuiButton-root.Mui-disabled {
  color: rgba(187, 187, 187, 0.34) !important;
  border-color: rgba(187, 187, 187, 0.34) !important;
}

.botao-cadastro button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botao-cadastro button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.botao-voltar-cadastro button {
  position: absolute;
  bottom: -50px;
  border: none;
}
/*Final Cadastro*/

/*Reserva*/

.reserva {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto auto auto;
  min-height: 600px;
  justify-content: space-around;
}

.reserva .titulo-reserva {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reserva .titulo-reserva h4 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.reserva .titulo-reserva h6 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.container-botoes-reserva {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 160px;
  justify-content: space-between;
}

.botoes-reserva button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botoes-reserva button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.botoes-reserva a {
  text-decoration: none;
}

.botao-voltar-reserva button {
  font-family: "Comfortaa", cursive;
  border: none;
  text-transform: none !important;
  color: #ffffff;
}

.botao-voltar-reserva a {
  text-decoration: none;
}

.reserva .calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
}

.calendario .MuiInputBase-root {
  color: #ffdf02;
}

.calendario label {
  color: rgb(230, 228, 219);
}

.calendario .MuiIconButton-root {
  color: rgb(230, 228, 219);
}

.calendario .MuiInput-underline:before {
  color: rgb(230, 228, 219);
}

/*Final Reserva*/

/*Cardápio*/
.cardapio {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto auto auto;
  min-height: 600px;
}

.cardapio .titulo-cardapio {
  margin-bottom: 15px;
}

.cardapio .titulo-cardapio h4 {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.cardapio .busca-cardapio {
  margin-bottom: 10px;
}

.busca-cardapio input {
  box-shadow: none;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  padding: 5px;
}

.busca-cardapio input::placeholder {
  color: #ffffff9c;
}

.filtro-cardapio span {
  color: #ffdf02;
  font-family: "Comfortaa", cursive;
}

.filtro-cardapio button span:hover {
  color: #ffffff;
}

.produtos {
  width: 100%;
}

.produtos .produtos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}

.produtos-lista img {
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
  margin: 10px 10px;
}

.produtos-lista div:hover {
  color: #ffdd02b4;
}

.cardapio .container-cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  justify-content: space-evenly;
}

.cardapio a {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 20px;
}

.cardapio .botao-finalizar-reserva {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.cardapio .botoes-reserva button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.cardapio .produtos button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 315px;
}

.botoes-reserva-habilitados {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.botoes-reserva-habilitados p {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  text-decoration: none;
  margin: 40px 0;
}

.botoes-reserva-desabilitados {
  display: none;
}

.botoes-reserva-habilitados button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 190px;
  margin-bottom: 20px;
}

.produtos-lista div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 10;
  margin-bottom: 30px;
}

.produtos-lista div p {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.produtos .produtos-lista .botao-add-produto {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffdd02;
  transition-duration: 0.4s;
  width: 140px;
  height: 40px;
  border: 2px solid #ffdd02;
  margin-top: 10px;
}

.produtos .produtos-lista .botao-add-produto:hover {
  color: #ffffff;
}
/*Final Cardápio*/

/*Finalizar Reserva*/
.finalizar-reserva {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  justify-content: center;
}

.textos-reserva-finalizada {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 400px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textos-reserva-finalizada h4 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  margin: 0 15px;
}

.textos-reserva-finalizada h6 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  margin: 0 15px;
}

.logo-reserva {
  position: absolute;
}

.logo-reserva img {
  opacity: 0.1;
  width: 200px;
}

/*Final Reserva*/

/*Perfil*/
.perfil-user {
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 160px;
  margin-bottom: 60px;
}

.perfil {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto auto auto;
  min-height: 600px;
  justify-content: center;
}

.perfil .container-bares img {
  width: 330px;
  border-radius: 4%;
  min-height: 220px;
}

.perfil .container-bares img:hover {
  border: 2px solid #ffdd02c5;
}

.perfil-user h4 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}

.perfil-user h6 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}

.perfil button {
  font-family: "Comfortaa", cursive;
  text-transform: none !important;
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.4s;
  width: 140px;
  height: 50px;
  border: 2px solid #ffffff;
  width: 190px;
  margin-bottom: 120px;
}

.perfil button:hover {
  border-color: #ffdf02;
  background-color: #ffdf02;
}

.perfil a {
  text-decoration: none;
}

.perfil .container-bares {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-bares h6 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  margin-bottom: 5px;
}

.perfil .container-bares div {
  margin: 20px;
}

.img-user img {
  width: 120px;
}
